.testimonial{
    
}

.testimonial-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 45px;
    padding-bottom: 100px;
}
    .testimonial-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
    }
    .testimonial-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.016em;
        
        color: #807D7D;
        width: 600px;
        height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.016em;
    }

/*SLIDESHOW */
.testi-slideshow{
    display: flex;
    gap: 24px;
    position: relative;
    left: 135px;
    overflow: hidden; 
    
}

.testi-cont{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    width: 410.67px;
    height: 350px;
    border: 1px solid #E7EAEC;
    border-radius: 30px;
}
    .testi-row1{
        display: flex;
        justify-content: space-around;
        gap: 175px;
    }
        .star-review{
            display: flex;
        }
    .testi-row2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height */ 
        text-align:justify;
        letter-spacing: 0.02em;
        color: #133240;   
    }
    .testi-row3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #807D7D; 

        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

/*TESTIMONIAL BOTTOM */
    .testi-bottom{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 40px;
    }
    .testi-bottom>img{
        width: 16px;
        height: 16px;
    }