.banner1{
    background-color: #D8191E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}
.banner1-col1, .banner1-col2{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    place-items: center;
}

.banner1-col1{
    border-right: 1px solid white;
}

.banner1-row1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 52px */
letter-spacing: 0.016em;
color: #FFFFFF;
padding-top: 20px;
}

.banner1-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.016em;
    
    width: 600px;
    height: 60px;
}

.banner1-bottom{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
    .banner1-bottom>input{
    width: 400px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 18pt;
    }

    .banner1-bottom>button{
        background: #F2572E;
        border-radius: 15px;
        border: none;
        color: white;
        width: 150px;
        height: 60px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    }



.banner1-col2-row2{
    display: flex;
    gap: 30px;
}
    .banner1-col2-row2>input{
        width: 260px;
        height: 60px;
        border-radius: 15px;
        font-size: 18pt;
        border: none;
    }

.banner1-col2-bottom{
    width: 565px;
    height: 60px;
    background-color: #F2572E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
}