.footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-col1{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 84px 100px;
}

.footer-col1-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 0.016em;
    width: 492.61px;
    height: 96.01px;
    color: #807D7D;
    margin-top: 15px;
    margin-bottom: 35px;
}

.icon-cont-foot{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon-cont-foot>div{
    width: 47px;
    aspect-ratio: 1;
    border: 5px solid #939090;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.icon-cont>div>img{

}

/*COL 2*/
.footer-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-col2>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 84px;
    gap: 30px;
}

#ft-head{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    letter-spacing: 0.016em;
    
    color: #0D0D0D;
    
}

.ft-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* or 252% */
    color: #807D7D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-bottom{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */
    color: #807D7D;

}