@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 800px 400px 3800px 518px 554px;
  zoom: 80%;  
  width: 100%;
}
.App>div{
}

