
.dashboard{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 135px;
    padding-right: 135px; 
    padding-bottom: 45px;
}

.toko-ikan{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;

color: #F2572E;
}
.panel-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 56px;
}

.panel-cont>div{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    letter-spacing: 0.016em;
    color: #0D0D0D;
}

.download-cont{
    background-color: #DC1E23;
    border-radius: 10px;
    padding: 18px 35px;
    color: white;
}

.head-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
    padding-left: 135px;
    padding-bottom: 45px;
}
.head-main>div{
    border: 1px solid red;
}

.head-col1{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

.col1-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.016em;
    text-align: left;
    padding-top: 20px;
}
.col1-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* or 27px */
display: flex;
align-items: center;
letter-spacing: 0.016em;
width: 541.9px;
color: #807D7D;
}

.col1-cont-box{
    display: flex;
    gap: 30px;
   
}
.google-cont, .appStore-cont{
    width: 206px;
    height: 64px;
    background: #0D0D0D;
    border-radius: 10px;
    color: white;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr;
}


#text-icon{
    font-size: 10pt;
    padding-bottom:8px ;
    display: flex;
    justify-content: flex-start;
}

.col1-bottom{
    display: flex;
    gap: 20px;
}

.bottomNum{
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 150%;
display: flex;
align-items: center;
letter-spacing: 0.016em;
color: #DC1E23;
}

.bottom-text{
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180%;
/* or 32px */
display: flex;
align-items: center;
letter-spacing: 0.016em;

color: #807D7D;
}

/*COL 2 */
#twoFish{
    position: absolute;
    width: 270px;
    height: 378px;
    left: 773px;
    top: 180px;
    z-index: 1;
    
}
#rectangleRed{
   height: 350px;
   width: 600px;
   border-radius: 0px 50px 50px 0px;
   transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 200px;
}
#phone1{
    position: absolute;
    width: 670px;
    height: 700px;
    left: 820px;
    top: 30px;    
}