
.dashboard{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 135px;
    padding-right: 135px; 
    padding-bottom: 80px;
}

.toko-ikan{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
color: #F2572E;
}
.panel-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 56px;
}

.panel-cont>div{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    /* or 32px */
    letter-spacing: 0.016em;
    color: #0D0D0D;
}

.download-cont{
    background-color: #DC1E23;
    border-radius: 10px;
    padding: 22px 36px;
    color: white;

}
.download-cont>div{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    
    letter-spacing: 0.016em;
}

.head-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 135px;
    padding-bottom: 45px;
}
.head-main>div{
}

.head-col1{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

.col1-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.016em;
    text-align: left;
    padding-top: 20px;
    z-index: 2;
}
.col1-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* or 27px */
display: flex;
align-items: center;
letter-spacing: 0.016em;
width: 541.9px;
color: #807D7D;
}

.col1-cont-box{
    display: flex;
    gap: 30px;
   
}
.google-cont, .appStore-cont{
    width: 206px;
    height: 64px;
    background: #0D0D0D;
    border-radius: 10px;
    color: white;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr;
}


#text-icon{
    font-size: 10pt;
    padding-bottom:8px ;
    display: flex;
    justify-content: flex-start;
}

.col1-bottom{
    display: flex;
    gap: 20px;
}

.bottomNum{
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 150%;
display: flex;
align-items: center;
letter-spacing: 0.016em;
color: #DC1E23;
}

.bottom-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180%;
/* or 32px */
display: flex;
align-items: center;
letter-spacing: 0.016em;

color: #807D7D;
}

/*COL 2 */
#twoFish{
    position: absolute;
    width: 270px;
    height: 378px;
    left: 973px;
    top: 180px;
    z-index: 1;
    
}
#rectangleRed{
   height: 350px;
   width: 750px;
   border-radius: 0px 50px 50px 0px;
   transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 200px;
}
#phone1{
    position: absolute;
    width: 670px;
    height: 700px;
    left: 1150px;
    top: 30px;  
    overflow: hidden;  
}